.polaroid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.polaroid-wrapper > .img-polaroid {
  height: 20rem;
  width: 20rem;
  margin: 1rem;
}

.polaroid-wrapper > .img-polaroid > img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

